.table_second_row {
  border-bottom: 1px solid rgb(199, 199, 199);
  display: flex;
  height: 60px;
  justify-content: space-around;
  width: 100%;
}

.table_second_row tr {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.table_second_row th {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  text-align: center;
  width: 115px;
}

.status_rota_entrega {
  gap: 5px;
  width: 95px;
}

@media screen and (max-width: 500px) {
  .table_second_row svg {
    display: none;
  }
  .table {
    width: 100%;
  }

  .table_second_row {
    width: 100%;
  }

  .table_second_row th {
    font-size: 14px;
    width: 75px;
  }

}
