.list_orders {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.table_second_row {
  align-items: center;
  display: flex;
  height: 45px;
  margin-bottom: 5px;
  text-align: center;
  width: 95%;
}

.table_second_row td {
  text-align: start;
  width: 20%;
}
@media screen and (max-width: 500px) {
  .table {
    width: 100%;
  }
  .table_first_row {
    width: 80%;
  }
  .table_first_row th {
    font-size: 15px;
    width: 20%;
  }
  .table_second_row {
    width: 80%;
  }
  .table_second_row td {
    font-size: 15px;
    width: 20%;
  }
}
