header {
  align-items: center;
  display: flex;
  background: rgb(255, 203, 157);

  justify-content: space-between;
  width: 100%;
}

header img {
  width: 150px;
}

header h1 {
  font-family: "Playwrite GB S", cursive;
  font-size: 25px;
  font-weight: 500;
}
